<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Websocket Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="container">
    <main>
        <ul id="chat"></ul>
        <footer>
            <input id="opinion" type="text" style="width: 100%; height: 25px;">
        </footer>
    </main>
</div>

<script th:inline="javascript">
    $(document).ready(function() {
        var username = null;

    // 사용자 이름을 입력받는 함수
    function getUsername() {
        var name = prompt("사용자 이름을 입력하세요:");
        if (name) {
            username = name;
            setupWebSocket();
        } else {
            alert("사용자 이름을 입력해야 합니다.");
        }
    }

    // WebSocket 연결을 설정하는 함수
    function setupWebSocket() {
        const websocket = new WebSocket("ws://localhost:8080/ws/chat");
        websocket.onmessage = onMessage;

        websocket.onopen = function() {
            console.log(username + " has entered the chat.");
            websocket.send(username + " has entered the chat.");
        };

        websocket.onclose = function() {
            console.log(username + " has left the chat.");
            // WebSocket이 이미 닫혀 있을 때 오류를 방지하기 위해 연결이 닫혔을 때 메시지를 보내지 않습니다.
            if (websocket.readyState !== websocket.CLOSING && websocket.readyState !== websocket.CLOSED) {
                websocket.send(username + " has left the chat.");
            }
        };

        $('#opinion').on('keyup', function(event) {
            if (event.keyCode === 13) {
                send();
            }
        });

        function send() {
            var message = $("#opinion").val();
            if (message !== "") {
                console.log(username + ": " + message);
                websocket.send(username + ": " + message);
                $("#opinion").val('');
            }
        }

        function onMessage(msg) {
            var data = msg.data;
            var [sessionId, message] = data.split(":");

            if (!message) {
               message = "Chat has started.";
            } else if (message.trim() === "has entered the chat.") {
                message = sessionId + " has entered the chat.";
            }

            var currentTime = new Date().toLocaleTimeString();
            var messageHtml = `<li class='${sessionId === username ? "me" : "you"}'>
                <div class='message'>
                    <div class='enter'>
                        <h3>${currentTime}</h3>
                        <h2>${sessionId}</h2>
                    </div>
                    <div class='message-content'>${message}</div>
                </div>
            </li>`;

            $("#chat").append(messageHtml);
            document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
        }
    }

    // 페이지 로드 시 사용자 이름을 입력받습니다.
    getUsername();
    });
</script>
</body>
</html>
